    *{
        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }


#playerOne{
    position: absolute;
    margin: auto;
    top: 20px;
    left: 100px;
    border: 0.1vmin solid black;
    height: 79.88vmin;
    width: 79.98vmin;
}

.box{
    float: left;
    height: 15.932vmin;
    width: 15.932vmin;
    border: 0.1vmin solid black;
    text-align: center;
    line-height: 9.601vmin;
    font-size: 2.5vmin;
}

#playerTwo{
    position: absolute;
    margin: auto;
    top: 20px;
    right:  100px;
    border: 0.1vmin solid black;
    height: 79.88vmin;
    width: 79.95vmin;
}

.box2{
    float: left;
    height: 15.932vmin;
    width: 15.932vmin;
    border: 0.1vmin solid black;
    text-align: center;
    line-height: 9.601vmin;
    font-size: 2.5vmin;
}

.player1{
    position: absolute;
    bottom: 13px;
    left: 260px;
}

.player2{
    position: absolute;
    right: 260px;
    bottom: 13px;
}

.disable2 .player2 #b2{
    cursor: not-allowed;
    pointer-events: none;
}