:root{
    --txt-blue: hsl(238, 29%, 16%);
    --txt-red : hsl(14, 88%, 65%);
    --txt-xblue : hsl(240, 6%, 50%);
    --txt-xxblue : hsl(237, 12%, 33%);
    --gradient-violet: hsl(273, 75%, 66%);
    --gradient-blue : hsl(240, 73%, 65%);
    --divider-blue : hsl(240, 5%, 91%);
}

html{
    box-sizing: initial;
    font-size: 100;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient( var(--gradient-violet), var(--gradient-blue));
}

.card{
    background: white;
    border-radius: 2rem;
    max-width: 56rem;
    
}

.card_image img{
 
}

.card_text{

}
@media(min-width: 56em){
    .card{
        display: flex;
        padding: ;
        margin: 6rem;
    }

    .card_image,
    .card_text{
        flex: 1;
    }
}